body {
    background-color: rgb(232, 177, 110);
}
.card-title{
    color: red;
}

.card-description{
    color: blue;
}

.card-price {
    color: green;
}

.card-image {
    height: 200px;
    width: 200px;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 600px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    display: flex;
    height: 250px;
    margin: 10px;
    padding: 10px;
    width: 800px;
}

